body {
	padding-left: 25px;
		
}

.titlesrow{
	display: inline-block;
}
.not-main-container{
	padding-top: 25px;
}
.main-container{
	background-color: white;
	height: 36em;
	border-bottom:  1px solid #ddd;
	border-left:  1px solid #ddd;
	border-right:  1px solid #ddd;
}
.nav-tabs{
	width: 1170px;
}
.infotext{
	text-align: right;
}
.rowform{
	padding-top: 1em;
}

.checkapply{
	border: 2px solid black; ;
}
.checkapply > hr{
	height:2px;
	border:none; 
	color:#000;
	background-color:#000;
	margin-top: 0.2em;
	margin-bottom: 0.2em;
}

.buttonSubmit{
	width: 100px;
}
#table-action{
	table-layout:fixed; 
}
#table-result{
	overflow-y: scroll;
	height: 29em;
}
#table-result table tr td:nth-child(1) { 
	text-align: right;
} 

