<div class="col-md-12">
	<div class="col-md-8">
		<p>
			<span class="glyphicon glyphicon-warning-sign" aria-hidden="true"></span>
			Please review all the incident information and click "Submit" to send the report to the Company.
			If you want to change something - return to the Incident Form.
		</p>
	</div>
	<div class="col-md-4 infotext">
		<button type="submit" ng-click="app.getJson()" class="btn btn-default buttonSubmit" ng-disabled="!app.submitEnabled()">Submit</button>
	</div>


</div>
<div id="table-result" class="col-md-12 infotable">
	<label>General Information:</label>
	<table  class="table table-striped">
		<tr ng-repeat="key in app.fields">
			<td >{{key.name + ':'}}		


			</td>
			<td >
				<span>{{key.values }}</span>
				<span class="text-danger"ng-if="!key.values && key.required"> This field is required.</span>
			</td>

		</tr>

		<label>Immediate Corrective Action(s):</label>

		<tr ng-repeat="key in app.correctives">
			<td >{{key.name + ':'}}		


			</td>
			<td >
				<span>{{key.values }}</span>
				<!-- <span class="text-danger"ng-if="!key.values && key.required"> This field is required.</span> -->
			</td>

		</tr>
	</table>
</div>